/* CSS Document */
/*Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/*----------------------Font usage----------------------- */
h1,
h2,
h3,
h4 {
  font-family: Poppins;
}

h1 {
  font-size: 40px;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 25px;
  margin: 0em;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #ff006e;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  font-family: Open Sans, sans-serif;
}

p,
li {
  font-size: 18px;
  font-family: Open Sans, sans-serif;
  line-height: 1.6em;
}

a {
  font-family: poppins;
  text-decoration: none;
  font: 18px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #ff006e;
}

a:active {
  text-decoration: underline;
}

a:focus {
  font-weight: 600;
  color: #ff006e;
}



/*----------------------navigation bar----------------------- */
nav ul {
  list-style: none;
}

/*----spacing voor onder nav bar (alle content begint pas onder de menubalk---- */
.spacer {
  height: 4em;
}

nav img {
  max-width: 7em;
  padding: 1.5em;
}

/*----------------------hamburger css animatie----------------------- */
.navbar {
  width: 100%;
  position: fixed;
  height: 4em;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ff006e;
}

.hamburger {
  padding: 0 2em 0 0;
  display: block;
  cursor: pointer;
}

/*----------------------aanspreken van second child uit hamburger class (2e streepje gaat verdwijnen)----------------------- */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -150%;
  top: 4em;
  gap: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  background-color: white;
}

.nav-item {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 2em 4em 2em;
  justify-content: center;
}

.nav-menu.active {
  left: 0;
  margin: 0;
  padding: 0;
}

/*----------------------button (en opmaak van alle states)----------------------- */
button {
  font-family: poppins;
  background-color: #ff006e;
  border: none;
  border-radius: 5em;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:active {
  box-shadow: inset 0 0 30px #a80049;
}

/*----------------------Notice begin van scherm----------------------- */
#notice-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: black;
}

#notice-content p {
  font-size: 14px;
  text-align: center;
  padding: 0em 1em 0em 1em;
}

/*----------notice text------------ */
#notice-content h3 {
  max-width: 80%;
  text-align: center;
}

/*----------------------hero section----------------------- */
#hero-image-text {
  padding: 1.5em;
  background-color: #EFF7FF;
}

#hero-image-text img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.herotext img {
  max-width: 100%;
}

.herotext {
  margin-left: auto;
  margin-right: auto;
  max-width: 35em;
  text-align: center;
}

/*----------------------Detail page header specs----------------------- */
.header-detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1.5em;
  max-width: 50em;
}

/*----------------------secundairy menu----------------------- */
.menu2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 1em;
  box-shadow: none;
}

.secundairymenu {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 0.8em;
}

.secundairymenu li {
  list-style: none;
  padding: 0.5em;
  font-size: 14px;
  font-style: normal;
  border-radius: 0.5em;
}

.secundairymenu li a {
  font-family: Open Sans, sans-serif;
}

/*----------------------Article / all projects ----------------------- */
.articles {
  margin: 2em;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

article {
  max-width: 30em;
}

img {
  max-width: 100%;
  border-radius: 0.5em;
}

.textprofile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;
  background-color: white;
  padding: 0;
}

.textprofile img {
  height: 1.5em;
}

.image-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0em 0.5em 0em 0.5em;
  gap: 0.5em;
}

.heart-eye {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  padding: 0em 0.5em 0em 0.5em;
}

/*----------------------icons----------------------- */
.heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  color: grey;
}

.views {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  color: grey;
}

/*----------------------Detail page> profile image----------------------- */
.text-only {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.grey-for {
  color: grey;
}

.profile-image-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.profile-image-detail img {
  max-width: 2em;
}

.title-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

/*----------------------Detail page> grote afbeelding & onderschrift----------------------- */
figure {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 50em;
  margin: 0;
}

figcaption {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  color: grey;
  padding: 1em;
  text-align: right;
}

.detail-content {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em 1.5em 1.5em;
  max-width: 50em;
  margin: auto;
}

.bullets {
  padding: 2.5em;
  background-color: white;
  margin: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5em;
}

.bullets li {
  padding-top: 1em;
}

.bullets h4 {
  margin: 0;
}

/*----------------------Detail page> rally agency----------------------- */
aside {
  margin: 1.5em;
  max-width: 50em;
}

.rally-end {
  text-align: center;
  margin: 4em 0 4em 0;
}

.rally-end h2 {
  margin: 1em 0 0 0;
}

.rally-end p {
  color: grey;
  margin: 0;
}

.rally-end img {
  border-radius: 100%;
  max-width: 5em;
}

.more-by-rally {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2em 0;
}

.more-by-rally img {
  margin: 0 0 1.5em 0;
}

/*----------------------Footer----------------------- */
footer {
  background-color: #F2F2F2;
  padding: 2em;
}

footer ul {
  list-style: none;
}

.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;
}

footer section {
  max-width: 100%;
}

footer p {
  font-size: 14px;
  max-width: 20em;
}

footer a {
  font-size: 14px;
}

footer img {
  max-width: 8em;
}

.footerlists {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6em;
}

footer ul {
  padding: 0;
}

footer li {
  padding: 0em 0em 1em 0em;
}

.title {
  padding: 0;
}

footer a {
  font-family: Open Sans, sans-serif;
}

.footer-socials i {
  padding: 1em;
  font-size: 1.2em;
}

.allrights {
  display: flex;
  justify-content: space-between;
  gap: 4em;
  color: grey;
}

/*----------------------Screen sizes 1000 px & up----------------------- */
@media(min-width:1000px) {
  .hamburger {
    display: none;
  }

  /*----------------------navigation bar----------------------- */
  .navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-menu {
    display: contents;
    position: fixed;
    flex-direction: row;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding-right: 2em;
    justify-content: center;
  }

  /*----------Hero section specifics------------ */
  #hero-image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #hero-image-text img {
    max-width: 50%;
  }

  .herotext {
    text-align: left;
    padding: 2em;
  }

  /*----------Projects section------------ */
  .articles {
    margin: 2em;
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }

  article {
    max-width: 25em;
  }

  footer {
    padding: 2em 6em 2em 6em;
  }

  /*----------------------------------detail page------------------------------------ */
  aside {
    margin-left: auto;
    margin-right: auto;
  }

  .more-by-rally {
    flex-direction: row;
    gap: 2em;
    justify-content: center;
  }

  .more-by-rally img {
    max-width: auto;
    max-height: 20em;

  }
}

/*----------------------Screen sizes 1300 px & up----------------------- */
@media(min-width:1300px) {

  nav ul {
    display: contents;
  }

  #hero-image-text {
    display: flex;
    justify-content: center;
  }

  .herotext {
    margin: 0;
  }

  #hero-image-text img {
    margin: 1em;
  }

  /*----------Article section------------ */
  article {
    max-width: 23.5em;
  }

  footer {
    padding: 2em 9em 2em 9em;
  }
}
